[submodule "timed-design"]
	path = timed-design
	url = https://github.com/LunaPrau/timed-design.git
	branch = feat/EASY-INSTALL
[submodule "voidDock"]
	path = voidDock
	url = https://github.com/LunaPrau/voidDock.git
	branch = yaml
[submodule "aposteriori"]
	path = aposteriori
	url = https://github.com/LunaPrau/aposteriori
	branch = org_cbfix
[submodule "timed_design"]
	path = timed_design
	url = https://github.com/LunaPrau/timed-design.git
